<div class="workspace-choice">
  <div class="header">
    <h1>Your workspaces</h1>
    <p class="desc">To communicate with your colleagues, select one of the workspaces you belong to.</p>
    <p class="create">Otherwise, proceed to the creation of a new one!</p>
    <a href="/workspace-create"><button class="btn-create">Create a new Workspace</button></a>
  </div>
  <section class="main-section">
    <div class="ws-list">
    {{#each workspacesData}}
      <a href="/ws/{{this.name}}">
        <div class="ws-container">
          <img src="{{this.image}}">
          <div class="ws-details">
            <h3>{{this.name}}</h3>
            <p><strong>{{this.numberOfUsers}} users</strong> have joined this workspace</p>
            <p><strong>{{this.numberOfChannels}} channels</strong> active</p>
          </div>
        </div>
      </a>
    {{/each}}
    </div>

  </section>


</div>