<div class="workspace-choice">
  <section class="main-section">
    {{> flash_messages}}
    <h1>Your workspaces</h1>
    <div class="header">
      <p>Select one of the workspaces you belong to or</p>
      <button class="btn-create"><a href="/workspace-create">Create a new Workspace</a></button>
    </div>
    <div class="ws-list">
    {{#each workspacesData}}
      <div class="ws-container">
        {{!-- <a href="/ws/{{this.name}}"><img src="https://is4-ssl.mzstatic.com/image/thumb/Purple128/v4/54/4f/9b/544f9b86-5073-2793-f825-699c9f547375/AppIcon-1x_U007emarketing-0-85-220-0-5.png/246x0w.jpg"></a>         --}}
        <a href="/ws/{{this.name}}"><img src="{{this.image}}"></a>
        <div class="ws-details">
          <h3><a href="/ws/{{this.name}}">{{this.name}}</a></h3>
          <p>{{this.numberOfUsers}} users have joined this workspace</p>
          <p>{{this.numberOfChannels}} open channels</p>
        </div>
      </div>
    {{/each}}
    </div>

  </section>


</div>